.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #030d42;
  padding: 4rem;
}

.about-heading {
  color: white;
}

.about-para {
  color: white;
  width: 80%;
}

@media screen and (max-width: 425px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #030d42;
    padding: 2rem;
  }

  .about-heading {
    color: white;
  }

  .about-para {
    color: white;
    width: 100%;
  }
}
