.alumni-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 0rem;
  gap: 30px;
}

.alumni-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0rem;
  gap: 30px;
}

.box1 {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.box2 {
  margin-top: 20px;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.photo-box {
  width: 180px;
  height: 150px;
  background-color: white;
  border-radius: 20px;
}

.alumni-heading {
  color: white;
  display: inline;
  margin: 1rem 6rem;
}

@media screen and (max-width: 425px) {
  .alumni-box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
  }

  .alumni-heading {
    color: white;
    display: inline;
    margin: 0rem;
    font-size: 1.5rem;
  }

  .alumni-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .box1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-row: 1fr;
    gap: 1rem;
  }

  .box2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-row: 1fr;
    gap: 1rem;
  }

  .photo-box {
    width: 90px;
    height: 60px;
    background-color: white;
    border-radius: 10px;
  }
}
