.text-box{
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 2rem;
    margin: 2rem;
    gap: 15%;
}

.blank{
    width: 100%;
}

.detail-heading{
    color: white;
    display: inline;
    margin: 1rem 0rem;
}

.text{
    width: 100%;
    color: white;
    margin: 1rem 0rem 1.5rem 0rem;
}

@media screen and (max-width: 425px) {
    .text-box{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        gap: 0%;
        border: none;
    }
    
    
    .text{
        color: white;
    }
    
    .detail-heading{
        color: white;
        font-size: 1.5rem;
    }
    
}