.background {
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 90px);
  overflow: hidden;
}

.bg {
  background-color: #030d42;
  width: 100%;
  height: calc(100vh - 80px);
  transform: skewX(45deg);
  translate: -30%;
  position: absolute;
  z-index: 1;
}

.bg1 {
  background-color: #094fa5;
  width: 100%;
  height: calc(100vh - 80px);
  z-index: -2;
  position: absolute;
}

.bg2 {
  width: 100%;
  height: calc(100vh - 80px);
  background-color: #013574;
  z-index: 0;
  transform: skewX(-60deg);
  translate: 70%;
}

.homepage {
  display: flex;
  flex-direction: row;
}

.quencil-home {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 40px;
  z-index: 100;
  height: auto;
}

.home-img {
  width: 650px;
}

.heading {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 70px;
  width: 30%;
  color: white;
  font-weight: bold;
}

.heading > h1 {
  text-align: left;
  font-size: 2.5rem;
  padding-bottom: 20px;
}

.button {
  background-color: blue;
  border: 0px;
  height: 40px;
  width: 120px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 20px;
  margin-left: 60px;
}

@media screen and (max-width: 425px) {
  .background {
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 90px);
    overflow: scroll;
  }
  
  .bg {
    display: none;
  }
  
  .bg1 {
    display: none;
  }
  
  .bg2 {
    display: none;
  }
  
  .homepage {
    display: flex;
    flex-direction: column;
  }
  
  .quencil-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    position: relative;
    z-index: -1;
  }

  .heading > h1 {
    display: inline;
    text-align: center;
    font-size: 1.5rem;
  }

  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    align-items: center;
    margin: auto;
    width: 80%;
  }

  .button {
    background-color: blue;
    border: 0px;
    height: 40px;
    width: 120px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 20px;
    margin: 0;
  }

  .home-img {
    width: 350px;
    margin-bottom: 2rem;
  }
}
