.join-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem;
  margin: 2rem;
  height: calc(100vh - 70px);
}

.details {
  border: 1px dashed #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.join-text-heading,
.join-text {
  color: white;
}

@keyframes bounce {
  0% {
    transform: translateY(1px);
  }

  15% {
    transform: translateY(3px);
  }

  25% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(7px);
  }

  60% {
    transform: translateY(5px);
  }

  80% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(1px);
  }
}

.join-img:hover {
  animation: bounce 2s infinite ease-in;
}

@media screen and (max-width: 425px) {
  .join-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    height: auto;
  }

  .details {
    border: 1px dashed #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem;
  }

  .join-text {
    font-size: 14px;
    color: white;
  }

  .join-text-heading {
    font-size: 1.5rem;
  }

  .join-img {
    width: 250px;
  }
}
